/* =99. Custom Elements
-------------------------------------------------------------- */

/* Styles for elements with their own custom id */

#popularMappings table {
    table-layout: fixed;
}

#popularMappings td, th {
    padding: 2px 10px;
    font-size: 12px;
    font-weight:550;
    table-layout: fixed;
    background: inherit;
}

/* Max Width of the drop down menu for product variations */

.woocommerce div.product form.cart .variations select {
	max-width: 400px;
}