<section class="bootstrap-iso order-form" id="order-form">
    <div class="order-form-wrapper tb-container">
        <div class="tb-row">
            <div class="tb-col-sm-8">
                <div class="tb-panel tb-panel-default">
                    <div class="tb-panel-body">
                        <h2 class="title"><span class="sas-black"><span class="sas-before-dot sas-wrap-normal">SPIC AND SPAN</span><span class="sas-after-dot">.GOLDEN RULES</span></span></h2>
                        <ul class="tb-row feature-list">
                            <li class="tb-col-sm-4 feature">
                                <div class="icon">
                                    <i class="fa fa-check fa-lg"></i>
                                </div>
                                <div class="description">From the top to the bottom.</div>
                            </li>
                            <li class="tb-col-sm-4 feature">
                                <div class="icon">
                                    <i class="fa fa-check fa-lg"></i>
                                </div>
                                <div class="description">Clean and Dirty Zones.</div>
                                
                            </li>
                            <li class="tb-col-sm-4 feature">
                                <div class="icon">
                                    <i class="fa fa-check fa-lg"></i>
                                </div>
                                <div class="description">Get rid of redundant stuff and clutter.</div>
                            </li>
                        </ul>
                        <div class="order-form">
                            <form class="">
                                <div class="tb-row">
                                    <div class="tb-col-tn-12 tb-col-sm-12 tb-col-md-9">
                                        <fieldset class="order-form-packages sas-yellow">
                                            <legend>
                                                <span class="fa-stack">
                                                    <i class="fa fa-circle fa-stack-2x package-fieldset-completed tb-hidden"></i>
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                </span>
                                                <span>Cleaning Package:</span>
                                            </legend>
                                            <div class="tb-row">
                                                <order-package v-for="package in packages" :key="package.id" v-bind:package="package" @change="selectPackage"></order-package>
                                                <div class="tb-col-tn-6 tb-col-xs-6 tb-col-sm-4">
                                                    <div class="tb-form-group">
                                                        <label for="package-regel" class="package-radio-label">
                                                            <div class="package-inner-wrapper">
                                                                <h4>
                                                                    <span class="sas-black">
                                                                        <span class="sas-before-dot sas-wrap-normal">REGELMÄßIGE REINIGUNG</span>
                                                                        <span class="sas-after-dot"><wbr>.</span>
                                                                    </span>
                                                                </h4>
                                                                <p class="order-form-package-callout">For regular customers only</p>
                                                            </div>
                                                        </label>
                                                        <input type="radio" name="package-radio" id="package-regel" class="package-radio" value="regel">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="tb-col-tn-12 tb-col-sm-3">
                                        <fieldset class="order-form-cleaners sas-aqua">
                                            <legend>
                                                <span class="fa-stack">
                                                    <i class="fa fa-circle fa-stack-2x cleaners-fieldset-completed tb-hidden"></i>
                                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                </span>
                                                <span>Cleaners:</span>
                                            </legend>
                                            <div class="tb-row">
                                                <order-cleaner v-for="cleaner in cleaners" :key="cleaner.id" v-bind:cleaner="cleaner" @change="selectCleaners"></order-cleaner>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="tb-row">
                                    <div class="tb-col-tn-12 tb-col-sm-12">
                                        <fieldset class="order-form-property-size sas-pink">
                                            <legend>
                                                <span>Property size (slider):</span>
                                            </legend>
                                            <div class="tb-row">
                                                <div class="tb-col-tn-12 tb-col-xs-12 tb-col-sm-12">
                                                    <div class="property-size-wrapper">
                                                        <span id="property-size-value" style="font-size: 24px;"><input type="text" id="property-size-target" value="50" name="property-size">
                                                            <span>&nbsp;sqm</span>
                                                        </span>
                                                    </div>
                                                    <div id="soft" class="tb-form-group"></div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <!--</div>-->
                                <div class="tb-row">
                                    <div class="tb-col-tn-12 tb-col-sm-12 tb-col-md-3">
                                        <fieldset class="order-form-equipment sas-aqua">
                                            <legend>Do you have your own? </legend>
                                            <div class="tb-row">
                                                <div class="tb-col-tn-6 tb-col-xs-6 tb-col-sm-12">
                                                    <div class="tb-form-group">
                                                        <label for="equipment-checkbox-1">
                                                            <div class="equipment-inner-wrapper">
                                                                <h4><img src="http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/detergent.svg"
                                                                        class="order-form-icon"></h4>
                                                                <p class="order-form-equipment-callout">Cleaning agents</p>
                                                            </div>
                                                        </label>
                                                        <input type="checkbox" name="equipment-checkbox" id="equipment-checkbox-1" class="equipment-checkbox" v-model="equipment.detergents"></div>
                                                </div>
                                                <div class="tb-col-tn-6 tb-col-xs-6 tb-col-sm-12">
                                                    <div class="tb-form-group">
                                                        <label for="equipment-checkbox-2">
                                                            <div class="equipment-inner-wrapper">

                                                                <h4><img src="http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/mop-and-bucket.svg"
                                                                        class="order-form-icon"></h4>
                                                                <p class="order-form-equipment-callout">Mop</p>
                                                            </div>
                                                        </label>
                                                        <input type="checkbox" name="equipment-checkbox" id="equipment-checkbox-2" class="equipment-checkbox" v-model="equipment.mop"></div>
                                                </div>
                                                <div class="tb-col-tn-6 tb-col-xs-6 tb-col-sm-12">
                                                    <div class="tb-form-group">
                                                        <label for="equipment-checkbox-3">
                                                            <div class="equipment-inner-wrapper">

                                                                <h4><img src="http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/vacuum-cleaner.svg"
                                                                        class="order-form-icon"></h4>
                                                                <p class="order-form-equipment-callout">Vacuum Cleaner</p>
                                                            </div>
                                                        </label>
                                                        <input type="checkbox" name="equipment-checkbox" id="equipment-checkbox-3" class="equipment-checkbox" v-model="equipment.vacuum"></div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="tb-col-tn-12 tb-col-sm-12 tb-col-md-9">
                                        <fieldset class="order-form-extras sas-yellow">
                                            <legend>Do you have any special requests? </legend>
                                            <order-extras v-bind:extras="extras"></order-extras>
                                        </fieldset>
                                    </div>
                                </div>
                                <fieldset>
                                    <legend>Personal Information</legend>
                                    <div class="tb-row">
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <select class="tb-form-control" id="salutation" name="salutation">
                                                    <option value="Mr.">---</option>
                                                    <option value="Mr.">Mr.</option>
                                                    <option value="Mrs.">Mrs.</option>
                                                    <option value="Ms.">Ms.</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="first_name" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="last_name" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="company" placeholder="Company (optional)">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="phone_number" placeholder="Phone Number">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Property Address</legend>
                                    <div class="tb-row">
                                        <div class="tb-col-tn-12 tb-col-xs-12 tb-col-sm-12">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="address_1" placeholder="Street">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-12 tb-col-sm-12">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="address_2" placeholder="Address Line 2 (Optional)">
                                            </div>
                                        </div>
                                        <div class="tb-hidden tb-col-tn-12 tb-col-xs-12 tb-col-sm-12">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="address_3" placeholder="Address Line 3">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="city" placeholder="City">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="zip_code" placeholder="Zip Code">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-6 tb-col-sm-4">
                                            <div class="tb-form-group">
                                                <select class="tb-form-control" id="country_iso" name="country_iso">
                                                    <option value="DE">Germany</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Date &amp; Time</legend>
                                    <div class="tb-row">
                                        <div class="tb-col-tn-12 tb-col-xs-12 tb-col-sm-6">
                                            <div class="tb-form-group">
                                                <input type="text" class="tb-form-control" id="date" name="date">
                                            </div>
                                        </div>
                                        <div class="tb-col-tn-12 tb-col-xs-12 tb-col-sm-6">
                                            <div class="tb-form-group">
                                                <div class="tb-input-group">
                                                    <span class="tb-input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                    <input type="text" class="tb-form-control" id="time" name="time">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <button type="submit" class="tb-btn tb-btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tb-col-sm-4" id="order-summary-column">
                <div class="sticky-order-summary" v-bind:style="{ width: stickyOrderSummary.width + 'px' }">
                    <div class="tb-panel tb-panel-default">
                        <div class="tb-panel-heading">
                            <h3 class="tb-panel-title">Order Summary</h3>
                        </div>
                        <div class="tb-panel-body">
                            <h3>Hourly Price:
                                <span id="hourly-price" v-text="hourlyPrice"></span>
                                <!--<span id="hourly-price"></span>-->
                            </h3>
                            <h4>Package:
                                <!--<span v-text="package"></span>-->
                                <span>{{ selectedPackage }}</span>
                            </h4>
                            <div class="tb-row">
                                <div class="tb-col-sm-8">Detergents</div><div class="tb-col-sm-4" v-text="equipment.detergents"></div>
                                <div class="tb-col-sm-8">Mop</div><div class="tb-col-sm-4" v-text="equipment.mop"></div>
                                <div class="tb-col-sm-8">Vacuum Cleaner</div><div class="tb-col-sm-4" v-text="equipment.vacuum"></div>
                            </div>
                            <ul>
                                <li v-for="extra in selectedExtras" v-text="extra.name"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.0.0/nouislider.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.0.0/nouislider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
<script src="https://unpkg.com/flatpickr"></script>
<style>

    @media (min-width: 768px) and (max-width: 980px) { /* This is not a breakpoint from bootstrap, but Divi!! */
        .sticky-order-summary {
            position: fixed;
            top: 210px; /* may need to be adjusted later if sth in the Divi theme changes */
        }
    }

    @media (min-width: 981px) { /* This is not a breakpoint from bootstrap, but Divi!! */
        .sticky-order-summary {
            position: fixed;
            top: 170px; /* may need to be adjusted later if sth in the Divi theme changes */
        }
    }
</style>
<script>

    jQuery(document).ready(function ($) {

        // make the menu sticky on the booking page (do not allow it to vary in height)

        var menuHeader = document.getElementById('main-header');

        // 1. on load
        
        $(menuHeader).addClass('et-fixed-header'); 

        // 2. overwrite the changes in class done by Divi there

        // create an observer instance
        var menuHeaderObserver = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                // menuHeader.className += " et-fixed-header";
                $(menuHeader).addClass('et-fixed-header');
            });    
        });
        
        // configuration of the observer:
        var menuHeaderMutationConfig = { attributeFilter: ['class']};
        
        // pass in the target node, as well as the observer options
        menuHeaderObserver.observe(menuHeader, menuHeaderMutationConfig);

        // end of making the menu sticky

        $(function () {
            $(".package-radio").checkboxradio({
                icon: false
            });
            $(".cleaners-radio").checkboxradio({
                icon: false
            });
            $(".property-size-radio").checkboxradio({
                icon: false
            });
            $(".equipment-checkbox").checkboxradio({
                icon: false
            });
            $(".extras-checkbox").checkboxradio({
                icon: false
            });
        });

        var packageFieldsetIndicator = $('.package-fieldset-completed');
        var cleanersFieldsetIndicator = $('.cleaners-fieldset-completed');
        var propertySizeFieldsetIndicator = $('.property-size-fieldset-completed');

        // notice that the listener is put on the input field and not on the label!
        // this allows to highlight the 'completed' circle also when a package is selected by keyboard
        $('.package-radio').on('click', function (event) {
            packageFieldsetIndicator.addClass('tb-show').removeClass('tb-hidden');
        });

        $('.cleaners-radio').on('click', function (event) {
            cleanersFieldsetIndicator.addClass('tb-show').removeClass('tb-hidden');
        });

        $('.property-size-radio').on('click', function (event) {
            propertySizeFieldsetIndicator.addClass('tb-show').removeClass('tb-hidden');
        });

        // slider

        var softSlider = document.getElementById('soft');

        noUiSlider.create(softSlider, {
            start: 50,
            range: {
                min: 0,
                max: 220
            },
            format: wNumb({
                decimals: 0,
                edit: function (value) {
                    if (value < 10) {
                        return '10';
                    } else if (value >= 200) {
                        return '200+';
                    } else {
                        return value;
                    }
                }
            })
        });

        softSlider.noUiSlider.on('change', function (values, handle) {
            if ((values[handle] >= 200) || (values[handle] == '200+')) {
                softSlider.noUiSlider.set(200);
            } else if ((values[handle] < 10) || (values[handle] == '10')) {
                softSlider.noUiSlider.set(10);
            }
        });

        // var inputFormat = document.getElementById('input-format');
        var propertySizeTarget = document.getElementById('property-size-target');

        softSlider.noUiSlider.on('update', function (values, handle) {
            // inputFormat.value = values[handle];
            propertySizeTarget.value = values[handle];
        });

        $(propertySizeTarget).change(function () {
            softSlider.noUiSlider.set($(this).val());
        });

        $(function () {
            $("#date").flatpickr({
                dateFormat: "Y-m-d",
                altInput: true,
                altFormat: "Y-m-d"
            });

            $("#time").flatpickr({
                enableTime: true,
                noCalendar: true,

                enableSeconds: false, // disabled by default

                time_24hr: false, // AM/PM time picker is used by default

                // default format
                dateFormat: "H:i",

                minuteIncrement: 15,

                defaultHour: 15 // change it to time 'now'

            });
        });
    });
</script>
<script>

    Vue.component('order-equipment',{
        props: ['equipment'],
        template:
            `
                <div class="tb-row">
                    <order-equipment-item v-for="item in equipment" :key="item.id" v-bind:item="item"></order-equipment-item>
                </div>
            `
    });

    Vue.component('order-equipment-item', {
        props: ['item'],
        template: 
            `
            <div class="tb-col-tn-6 tb-col-xs-6 tb-col-sm-12">
                <div class="tb-form-group">
                    <label v-bind:for="'equipment-'+item.key">
                        <div class="equipment-inner-wrapper">
                            <h4><img v-bind:src="item.icon"
                                    class="order-form-icon"></h4>
                            <p class="order-form-equipment-callout">{{ item.name }}</p>
                        </div>
                    </label>
                    <input type="checkbox" name="equipment-checkbox" v-bind:id="'equipment-'+item.key" class="equipment-checkbox" v-model="item.selected"></div>
            </div>>
            `
    });    

    Vue.component('order-extras',{
        props: ['extras'],
        template:
            `
                <div class="tb-row">
                    <order-extra v-for="extra in extras" :key="extra.id" v-bind:extra="extra"></order-extra>
                </div>
            `
    });

    Vue.component('order-extra', {
        props: ['extra'],
        template: 
            `
            <div class="tb-col-tn-6 tb-col-xs-6 tb-col-sm-4">
                <div class="tb-form-group">
                    <label v-bind:for="'extras-'+extra.key">
                        <div class="extras-inner-wrapper">
                            <h4><img v-bind:src="extra.icon"
                                    class="order-form-icon"></h4>
                            <p class="order-form-extras-callout">{{ extra.name }}</p>
                        </div>
                    </label>
                    <input type="checkbox" name="extras-checkbox" class="extras-checkbox" v-bind:id="'extras-'+extra.key" v-model="extra.selected"></div>
            </div>
            `
    });

    Vue.component('order-package', {
        props: ['package'],
        template: 
        `
            <div class="tb-col-tn-6 tb-col-xs-6 tb-col-sm-4">
                <div class="tb-form-group">
                    <label v-bind:for="'package-'+package.key" class="package-radio-label">
                        <div class="package-inner-wrapper">
                            <h4>
                                <span class="sas-black">
                                    <span class="sas-before-dot sas-wrap-normal" v-text="package.name"></span>
                                    <span class="sas-after-dot"><wbr>.</span>
                                </span>
                            </h4>
                            <p class="order-form-package-callout" v-text="package.callout"></p>
                        </div>
                    </label>
                    <input type="radio" name="package-radio" v-bind:id="'package-'+package.key" class="package-radio" :value="package.key" v-model="selectedPackageValue">
                </div>
            </div>
        `,
        computed: {
            selectedPackageValue: {
                get() {
                    return this.value;
                },
                set() {
                    this.$emit("change", this.package.key);
                }
            }
        }
    });

    Vue.component('order-cleaner', {
        props: ['cleaner'],
        template: 
            `
            <div class="tb-col-tn-6 tb-col-xs-12 tb-col-sm-12">
                <div class="tb-form-group">
                    <label v-bind:for="'cleaners-'+cleaner.key" class="cleaners-radio-label">
                        <div class="cleaners-inner-wrapper">
                            <h4><img v-for="n in cleaner.key" v-bind:src="cleaner.icon" class=\"order-form-icon\"></h4>
                            <p class="order-form-cleaners-callout"><strong>{{ cleaner.name }}</strong>{{ cleaner.callout }}</p>
                        </div>
                    </label>
                    <input type="radio" name="cleaners-radio"  v-bind:id="'cleaners-'+cleaner.key" class="cleaners-radio" value="cleaner.key" v-model="selectedCleanersValue"></div>
            </div>
            `,
        computed: {
            selectedCleanersValue: {
                get() {
                    return this.value;
                },
                set() {
                    this.$emit("change", this.cleaner.key);
                }
            }
        }
    });

    var pricing = {
        regel: [24, 20],
        prima: [29, 25],
        umzuege: [34, 30],
        party: [39, 35],
        allergie: [39, 35],
        buero: ['pricing on request', 'pricing on request']
    }
    var orderForm = new Vue({
        el: '#order-form',
        data: {
            stickyOrderSummary: {
                width: 1
            },
            selectedPackage: '',
            selectedCleaners: '',
            packages: [
                {
                    id: '1',
                    key: 'regel',
                    name: 'REGELMÄßIGE REINIGUNG',
                    callout: 'For regular customers only'
                },
                {
                    id: '2',
                    key: 'prima',
                    name: 'PRIMA REINIGUNG',
                    callout: 'Lorem ipsum dolor sit amet'
                },
                {
                    id: '3',
                    key: 'umzuege',
                    name: 'UMZÜGE REINIGUNG',
                    callout: 'Lorem ipsum dolor sit amet'
                },
                {
                    id: '4',
                    key: 'party',
                    name: 'PARTY REINIGUNG',
                    callout: 'Lorem ipsum dolor sit amet'
                },
                {
                    id: '5',
                    key: 'allergie',
                    name: 'ALLERGIE REINIGUNG',
                    callout: 'Lorem ipsum dolor sit amet'
                },
                {
                    id: '6',
                    key: 'buero',
                    name: 'BÜRO REINIGUNG',
                    callout: 'Lorem ipsum dolor sit amet'
                },
            ],
            cleaners: [
                {
                    id: '1',
                    key: 1,
                    name: '1',
                    callout: ' cleaning professional',
                    icon: 'http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/cleaner-person.svg',
                    selected: false
                },
                {
                    id: '2',
                    key: 2,
                    name: '2',
                    callout: ' cleaning professionals',
                    icon: 'http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/cleaner-person.svg',
                    selected: false
                }
            ],
            equipment: {
                detergents: false,
                mop: false,
                vacuum: false,
            },
            extras:
            [
                {
                    id: '1',
                    key: 'fridge',
                    name: 'Fridge Cleaning',
                    icon: 'http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/fridge.svg',
                    selected: false
                },
                {
                    id: '2',
                    key: 'oven',
                    name: 'Oven Cleaning',
                    icon: 'http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/oven.svg',
                    selected: false
                },
                {
                    id: '3',
                    key: 'window',
                    name: 'Window Cleaning',
                    icon: 'http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/window.svg',
                    selected: false
                },
                {
                    id: '4',
                    key: 'microwave',
                    name: 'Microwave Cleaning',
                    icon: 'http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/microwave-oven.svg',
                    selected: false
                },
                {
                    id: '5',
                    key: 'carpet',
                    name: 'Carpet Cleaning',
                    icon: 'http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/carpet.svg',
                    selected: false
                },
                {
                    id: '6',
                    key: 'laundry',
                    name: 'Laundry Service',
                    icon: 'http://serwer16331.lh.pl/karl/spicandspan/wp-content/uploads/sas-assets/icons/laundry-two-shirts.svg',
                    selected: false
                }
            ],
            equipment:
            [
                {
                    id: '1',
                    key: 'detergents',
                    name: 'Cleaning Supplies',
                    icon: '',
                    selected: false
                },
                {
                    id: '2',
                    key: 'mop',
                    name: 'Mop',
                    icon: '',
                    selected: false
                },
                {
                    id: '3',
                    key: 'vacuum',
                    name: 'Vacuum Cleaner',
                    icon: '',
                    selected: false
                }
            ]
        },
        computed: {
            hourlyPrice: function () {
                var packagePrice = ['', ''];
                switch (this.selectedPackage) {
                    case 'regel':
                        packagePrice = pricing.regel;
                        break;
                    case 'prima':
                        packagePrice = pricing.prima;
                        break;
                    case 'umzuege':
                        packagePrice = pricing.umzuege;
                        break;
                    case 'party':
                        packagePrice = pricing.allergie;
                        break;
                    case 'allergie':
                        packagePrice = pricing.party;
                        break;
                    case 'buero':
                        packagePrice = pricing.buero;
                        return packagePrice[0];
                    default:
                        return '';
                }
                switch (this.selectedCleaners) {
                    case 1:
                        packagePrice = packagePrice[0];
                        break;
                    case 2:
                        packagePrice = packagePrice[1];
                        break;
                    default:
                        return '';
                }
                return '€' + packagePrice + ' /cleaner';
            },
            selectedCleaner: function() {
                return this.cleaners.filter(cleaner => cleaner.selected)[0];
            },
            selectedExtras: function() {
                return this.extras.filter(extra => extra.selected);
            }
        },
        methods: {
            /* handleScroll () {
                this.stickyOrderSummary.active = window.scrollY > 140;
                this.stickyOrderSummary.width = document.getElementById('order-summary-column').offsetWidth - 30;
            }, */
            handleResize () {
                this.stickyOrderSummary.width = document.getElementById('order-summary-column').offsetWidth - 30; // remember about padding
            },
            selectPackage(val) {
                console.log('selectPackage fired');
                this.selectedPackage = val;
            },
            selectCleaners(val) {
                console.log('selectCleaners fired');
                this.selectedCleaners = val;
            }
        },
        created() {
            // dirty solution for setting the initial width of the order summary column
            // will break on mobile, I have to think of sth better
            // comment to the first answer here may help:
            // https://stackoverflow.com/questions/35257707/conditional-style-rendering-with-vue-js
            this.stickyOrderSummary.width = document.getElementById('order-summary-column').offsetWidth - 30;
            // solution on scroll event listener from here:
            // https://github.com/vuejs/Discussion/issues/324
            // window.addEventListener('scroll', this.handleScroll);
            window.addEventListener('resize', this.handleResize)
        }
    });
</script>